
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  width: 100vw;
  overflow-x: hidden;
}


.app-container {
  width: 100%;  
  margin: 0;
  padding: 20px;
  background-image: url('./assets/back.jpg');  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.navbar {
  background-color: black;
  padding: 10px 0;
  text-align: center;
  border-radius: 15px;  
  margin-bottom: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: #45a049;
  border-radius: 10px;
}

.content {
  margin: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
  width: 100%;  
  margin-top: 20px;
  border-radius: 0;
  position: relative;
  bottom: 0;
}

@media (max-width: 768px) {
  .navbar ul li {
      display: block;
      margin: 10px 0;
  }

  .content {
      margin: 10px;
      padding: 15px;
  }
}
